<html>
  <form action="/weather/location" method="get">
    <div>
      <label for="name">Enter a location name: </label>
      <input type="text" name="name" id="name" placeholder="name">
    </div>
    <div>
      <input type="submit" value="Submit">
    </div>
  </form>
</html>